/* Fonts Config */
@font-face {
  font-family: "anton";
  src: url(./assets/fonts/Anton-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "libre baskerville";
  src: url(./assets/fonts/LibreBaskerville-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: regular;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  color: antiquewhite;
  /* background-color: rgba(7, 0, 0, 0.452); */
  /* border: 5px solid antiquewhite; */
  margin-top: auto;
}

/* General */

* {
  font-family: "libre baskerville";
  font-weight: 100;
  color: rgb(0, 0, 0);
  background-color: #CDE6F5;
}

/* NAVBAR */
.main-nav {
  background-color: #CDE6F5;
  /* border: 5px solid antiquewhite; */
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.main {
  margin-top: 120px; /* Add a top margin to avoid content overlay */
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 70%;
  margin: auto;
}

.nav-logo a img {
  height: 80px;
  float: left;
}

.nav-link {
  padding: 0 0.5em;
  font-size: 1.2em;
  color: black;
  font-size: 23px;
  text-decoration: none;
}


.action-container a {
  font-size: 1.35em;
  text-decoration: none;
}

/* Form CSS in Add & Edit Movie View */

.Form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.Form label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.Form h2 {
  margin-bottom: 20px;
}

.Form input,
.Form textarea {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  padding: 5px 10px;
  color: black;
  font-size: 16px;
}

.Form .btn {
  background: #CDE6F5;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.blog-container {
  border: 1px solid black;
  padding: 15px;
  width: 70%;
  margin: auto;
  margin-bottom: 5em;
  text-align: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  width: 40%;
  display: block;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.buttons {
  color: black;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.btn {
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}

.error404 {
  text-align: center;
}

.error-pic {
  width: 500px;
}

.div {
  background-color: #CDE6F5;
}

/* .hr {
  background-color: #ef8354;
  border: none;
} */
/* for mobile devices */
@media only screen and (max-width: 1000px) {
  .placeimg {
    width: 95%;
  } 

   .nav-logo a img {
    height : 30px;
    float: left;

  }

  .nav-link {
    font-size: 15px;
  }

  .placeimg2 {
    width: 70%;
  }

  .blog-container {
    block-size: 25%;
  }

  .Form {
    width: 75%;
  }


}