/* Fonts Config */
@font-face {
  font-family: "anton";
  src: url(./assets/fonts/Anton-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "libre baskerville";
  src: url(./assets/fonts/LibreBaskerville-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: regular;
}


/* General */

* {
  font-family: "libre baskerville";
  font-weight: 100;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAVBAR */
.main-nav {
  background-color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 60%;
  margin: auto;
}

.nav-logo a img {
  height: 100px;
  float: left;
}

.nav-link {
  padding: 0 0.5em;
  font-size: 1.2em;
  color: black;
  font-size: 23px;
  text-decoration: none;
}

.my-list {
  margin-left: 20px;
}

.action-container a {
  font-size: 1.35em;
  text-decoration: none;
}


/* Form CSS in Add & Edit Movie View */

.Form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.Form label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.Form h2 {
  margin-bottom: 20px;
}

.Form input,
.Form textarea {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  padding: 5px 10px;
  color: black;
  font-size: 16px;
}

.Form .btn {
  background: white;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
